body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: bisque;
}

.hide {
    display: none;
}

.fixedHeader{
    position: fixed;
    top: 0;
    width: 100%;
    height: 25px;
    padding: 10px;
    margin: px;
    display: flex;
    justify-content: space-around;
    background-color:darkgray;
}
.intro{
    text-align: center;
}
.btn{
    margin: 5px;
    padding: 10px;
    border-radius: 50px;
    font-size: small;
    background-color: lightslategrey;
    justify-content:space-between;
    color: white;
    text-align: center;
}
.optionButton{
    margin: 5px;
    padding: 10px;
    border-radius: 50px;
    font-size: small;
    background-color: lightslategrey;
    justify-content:space-between;
    color: white;
    text-align: center;
}

section .options .btn.disabled{
    pointer-events: none;
}

.quiz{
    display: none;
}
.quiz-question{
    display: flex;
    flex-flow: column wrap;
    padding-top: 300px;
    width: 600px;
    height: 500px;
    align-items: center;
}
.question{
    text-align: center;
}
.options{
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center; 
   max-width: 100%;
}
.option-selected{
    margin: 5px;
    padding: 10px;
    border-radius: 50px;
    font-size: small;
    background-color:steelblue;
    justify-content:space-between;
    color: white;
    text-align: center;
}